@import 'common/technologies';
@import 'common/slider';
@import 'common/menu';
@import 'common/buttons';
@import 'common/forms';


/*-----------------------------helpers----------------------------*/
@import "helpers/mixins";
@import "helpers/variables";

/*-----------------------------fonts----------------------------*/
@import "fonts/fonts";

/*-----------------------------layout----------------------------*/
@import "layout/layout";

/*-----------------------------sections----------------------------*/
@import "pages/footer";
@import "pages/header";
@import "pages/index";
@import "pages/blog";
@import "pages/about";
@import "pages/my-works";
