/*----------------------header--------------------*/
.header__top-line--blog {
    margin: 0 22px 94px;
}

.header__user--blog {
    margin-top: -280px;
}

.user__portrait--blog {
    margin-bottom: 25px;
}
.user__headline {
    color: white;
    font-family: $Bernier;
    font-size: 63px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 5px;
    @include lines;
    &:before {
        left: 170px;
        background-color: white;
    }
    &:after {
        right: 173px;
        background-color: white;
    }
}

.user__about--blog {
    margin-bottom: 66px;
}
/*----------------------blog content--------------------*/
.blog-content {
    position: relative;
    margin-top: 63px;
    display: flex;
}

.content__list {
    width: 880px;
    order: 2;
    @include laptops {
        width: 680px;
        margin-left: 120px;
    }
    @include tablets {
        width: 100%;
        margin-left: 0;
    }
}

.content-list__item {
    &:after  {
        content: '';
        margin-top: 70px;
        margin-bottom: 62px;
        display: block;
        width: 681px;
        height: 5px;
        opacity: 0.07;
        background-color: $black;
    }
    &:last-child {
        margin-bottom: 63px;
        &:after {
            @extend.content-list__item:after;
            display: none;
        }
    }
}

.article__headline {
    text-align: left;
    font-family: $Bernier;
    color: $gray;
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
}
.article__date {
    opacity: 0.7;
    color: $lightBlue;
    font-family: $Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 41px;
    margin-top: -16px;
}

.article__description {
    margin-top: 9px;
    margin-bottom: 12px;
}

.article__text {
    color: #455a64;
    font-family: $Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.article__pic {
    width: 100%;
}

.sidebar {
    width: 280px;
    margin-left: -217px;
    margin-right: 136px;
    margin-top: 16px;
    order: 1;
    @include laptops {
        margin-left: 0px;
        margin-right: 0px;
    }
    @include tablets {
        display: none;
    }
}

.side-nav {
    text-align: right;
}

.side-nav__item {
   margin-bottom: 25px;
   &:last-child {
       margin-bottom: 0px;
   }
}

.side-nav__link {
    color: $gray;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    transition: all .3s ease;
    position: relative;
    &:hover {
        color: $blue;
        &:after {
            content: '';
            display: block;
            width: 3px;
            height: 42px;
            background-color: $blue;
            position: absolute;
            right: -21px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}