.wrapper-welcome {
    background: url(../images/welcome_bg.jpg) center no-repeat;
    background-size: cover;
}

.welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .central-block {
    
// }

.about {
    opacity: 0.85;
    background-color: #fcfcfc;
}

.about__img {
    width: 140px;
    height: 140px;
}

.about__pic {
    width: 140px;
}