
/*-----------------------------layout----------------------------*/
$container-width: 940px;
$footer-height: 50px;

/*-----------------------------colors----------------------------*/
$main-color1: #000000;
$main-color2: #838383;
$main-color3: #FFFFFF;

$additional-color1: #000000;
$additional-color2: #838383;
$additional-color3: #FFFFFF;

$page-background1: $main-color1;
$page-background2: $main-color1;
$page-background3: $main-color1;

$headline-color1: $main-color1;
$headline-color2: $main-color1;
$headline-color3: $main-color1;

$text-color1: $main-color1;
$text-color2: $main-color1;
$text-color3: $main-color1;

/*-----------------------------fonts----------------------------*/
$headline-font1: 'Varela Round', Helvetica, Arial, sans-serif;
$headline-font2: 'Varela Round', Helvetica, Arial, sans-serif;
$headline-font3: 'Varela Round', Helvetica, Arial, sans-serif;

$body-font1: 'Palatino Linotype', Baskerville, serif;
$body-font2: 'Palatino Linotype', Baskerville, serif;
$body-font3: 'Palatino Linotype', Baskerville, serif;