extends ../template

block variables
  - var title = 'Обо мне'

block content
    div.wrapper.wrapper-welcome
        .container.welcome
            div.main
                .central-block
                    .about
                        .about__portrait
                            .about__img
                                img.about__pic(src="assets/images/portrait.jpg", alt="")
                        .about__description
                            .about__name
                            .about__site
                        .about__socials
                    .menu
