footer.footer
    .footer-top
        .footer-top__navigation
            .footer-menu
                ul.footer-list
                    li.footer-list__item
                        a.footer-list__link(href="my-works.html") Мои работы
                    li.footer-list__item
                        a.footer-list__link(href="about.html") Обо мне
                    li.footer-list__item
                        a.footer-list__link(href="blog.html") Блог
                    li.footer-list__item
                        a.footer-list__link(href="index.html") Авторизация
            .footer__socials
                ul.socials
                    li.socials__item.socials__item--round
                        a.socials__link(href="#")
                            svg.icon(width="36", height="36")
                                use(xlink:href='assets/images/icons/sprite-footer.svg#vk')
                    li.socials__item.socials__item--round
                        a.socials__link(href="#")
                            svg.icon(width="36", height="36")
                                use(xlink:href='assets/images/icons/sprite-footer.svg#git')
                    li.socials__item.socials__item--round
                        a.socials__link(href="#")
                            svg.icon(width="36", height="36")
                                use(xlink:href='assets/images/icons/sprite-footer.svg#in')
    .footer-bottom
        .footer-bottom--wrapper
            .footer-bot-left Я веб-разработчик из Владивостока, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
            .footer__bot-right &copy; Михаил Омелько | создано с любовью в LoftSchool | 2017
