/*---------------------Roboto fonts--------------------*/

@font-face {
	font-family: "Roboto Bold";
	src: url(../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
	font-family: "Roboto Bold Italic";
	src: url(../fonts/roboto/Roboto-BoldItalic.ttf);
}

@font-face {
	font-family: "Roboto Italic";
	src: url(../fonts/roboto/Roboto-Italic.ttf);
}

@font-face {
	font-family: "Roboto Light";
	src: url(../fonts/roboto/Roboto-Light.ttf);
}

@font-face {
	font-family: "Roboto Light Italic";
	src: url(../fonts/roboto/Roboto-LightItalic.ttf);
}

@font-face {
	font-family: "Roboto Medium";
	src: url(../fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
	font-family: "Roboto Medium Italic";
	src: url(../fonts/roboto/Roboto-MediumItalic.ttf);
}

@font-face {
	font-family: "Roboto Regular";
	src: url(../fonts/roboto/Roboto-Regular.ttf);
}

/*---------------------Other fonts--------------------*/
@font-face {
	font-family: "FontAwesome webfont";
	src: url(../fonts/fontawesome-webfont.ttf);
}

@font-face {
	font-family: "FontAwesome";
	src: url(../fonts/FontAwesome.otf);
}

@font-face {
	font-family: "Sansus Webissimo Regular";
	src: url(../fonts/Sansus-Webissimo-Regular.ttf);
}

@font-face {
	font-family: "Bernier Regular";
	src: url(../fonts/BERNIERRegular-Regular.otf);
}